<ion-header>
  <ion-toolbar>
    <ion-title>Recipe Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button routerLink="/home" fill="outline">Back</ion-button>

  <ion-spinner *ngIf="loading" class="ion-margin-top"></ion-spinner>

  <ion-text color="danger" *ngIf="errorMsg">
    <p class="ion-margin-top">{{ errorMsg }}</p>
  </ion-text>

  <div *ngIf="!loading && recipe">
    <h2>{{ recipe.title }}</h2>
    <img [src]="recipe.image" [alt]="recipe.title" style="width: 100%; border-radius: 12px;" />

    <div *ngIf="recipe.extendedIngredients?.length">
      <h3>Ingredients</h3>
      
      <ion-segment [(ngModel)]="measurementSystem" class="ion-margin-bottom">
        <ion-segment-button value="us">
          <ion-label>US</ion-label>
        </ion-segment-button>
        <ion-segment-button value="metric">
          <ion-label>Metric</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-list>
        <ion-item *ngFor="let ing of recipe.extendedIngredients">
          <ion-label class="ion-text-wrap">
            {{ getIngredientText(ing) }}
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="recipe.instructions">
      <h3>Instructions</h3>
      <div [innerHTML]="recipe.instructions"></div>
    </div>
  </div>
</ion-content>
