<ion-header>
  <ion-toolbar>
    <ion-title>G00473380</ion-title>
    <ion-button slot="end" fill="clear" routerLink="/favorites">
      <ion-icon name="heart" color="danger"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Enter Ingredients</ion-label>
    <ion-input placeholder="carrots, beef, potatoes" [(ngModel)]="ingredients"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="search()">
    SEARCH
  </ion-button>

  <ion-text color="danger" *ngIf="errorMsg">
    <p class="ion-margin-top">{{ errorMsg }}</p>
  </ion-text>

  <ion-spinner *ngIf="loading" class="ion-margin-top"></ion-spinner>

  <ion-card *ngFor="let r of recipes" class="ion-margin-top">
    <img [src]="r.image" [alt]="r.title" />
    <ion-card-header>
      <ion-card-title>{{ r.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <ion-button size="small" [routerLink]="['/recipe-details', r.id]">DETAILS</ion-button>
        <ion-button 
          size="small" 
          fill="clear" 
          (click)="toggleFavorite(r)">
          <ion-icon 
            [name]="isFavorite(r.id) ? 'heart' : 'heart-outline'" 
            [color]="isFavorite(r.id) ? 'danger' : 'medium'">
          </ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
